body {

  background: $Primary-color;

// HEADER //

  .Header {
    background: $Primary-color;
    font-family: "Tasadith-Bold";
    position: fixed;
    justify-content: center;
    width: 100%;
    height: 92px;
    left: 0;
    top: 0;
    display: flex;
    margin: auto;
    z-index: 1;
  }

  .Logo__Title {
    display: flex;
    align-items: center;

    .Title__Iris {
      font-size: 36px;
      color: #25282D;

      .Logo__Iris {
        width: 40%;
      }
    }
  }

  .Header__List {
    text-decoration: none;
    display: flex;
    margin: 50px 0 auto 50px;
    flex-direction: row;
    list-style-type: none;
  }

  .Header__Link {
    text-decoration: none;
    color: #25282D;
    margin-right: 50px;
  }

  // BODY //

  // FIRST BOX //

  .background__blockmannequin {
    background-image: url("/img/backproduct.png");
    position: relative;
    width: 100%;
    height: 646px;
    left: 0;

  }

  .FirstBox {
    color: $Primary-color;
    position: relative;
    top: 35px;
  }

  .Firstbox__title {
    position: absolute;
    width: 500px;
    height: 100px;
    top: 500px;


  }

  .Firstbox__subtitle {
    width: 500px;
    height: 100px;
    top: 300px;
  }

  .FirstBox__text {
    width: 500px;
    height: 200px;
    top: 220px;
  }

// BUTTON FIRST BOX //

  .Button__Perso{
    background-color: $Primary-color;
    font-size: 16px;
    font-family: "Lato-Regular";
    cursor: pointer;
    border: 1px solid $Second-color;
    width: 150px;
    height: 50px;
  }
  .Button__Perso:hover{
    background-color: $Second-color;
    border-color: $Primary-color;
    color: $Primary-color;
  }

  .Button__Savoir{
    background-color: $Second-color;
    font-size: 16px;
    font-family: "Lato-Regular";
    color: $Primary-color;
    cursor: pointer;
    border: 1px solid $Primary-color;
    width: 150px;
    height: 50px;
  }
  .Button__Savoir:hover{
    background-color: $Primary-color;
    border-color:$Second-color; 
    color: $Second-color;
  }

// SECOND BOX //

  .background__blockmaroc {
    background-image: url("/img/backproductflip.png");
    width: 1366px;
    height: 646px;
  }

  // SIGNE ECO-RESPONSABLE //

.Global__Eco {
  display: flex;
  justify-content: space-evenly;
  font-family: "Lato-Bold";
  font-weight: lighter;

  .EcoImg__Powder, .EcoImg__Growth, .EcoImg__Recycle{
    display: flex;
    margin: auto;
    width: 30%;
    padding: 56px;
  }

  .EcoImg__Growth {
    width: 23%;
  }

  .EcoText {
    text-align: center;
    width: 61%;
    margin: auto;
  }
}

// PROCESS BOX // 

.Background__Flower {

  .Flower__Text{
    font-family: "Tasadith-Bold";
    font-size: 16px;
    width: 25%;
  }
}

// FOOTER //

  .Footer {
    font-family: "Tasadith-Bold";
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: $Second-color;
    color: $Primary-color;
  }

  .Footer__Annexes {
    display: flex;

    .Annexes {
      text-decoration: none;
      color: $Primary-color;
      margin: auto 30px;
    }
  }

  .Logos__RS {
    display: flex;
    justify-content: space-evenly;
    width: 12%;
  }
}