$Primary-color : #F4F0EB;
$Second-color : #25282D;
$Text-color :#DFAF2C;
.header{
    background-color: $Primary-color;
    position: absolute;
    width: 1366px;
    height: 92px;
    left: 145px;
    top: 15px;
}
