.background__blockflip{
    background-image: url("/img/backproduct.png");
    width: 1366px;
    height: 646px;
    
    }
    
.background__blockflip{
        background-image: url("/img/backproductflip.png");
        width: 1366px;
        height: 646px;
        
        }
    
.header{
     height: 150px;
    
        
    }
    