$Primary-color: #f4f0eb;
$Second-color: #25282d;
$whitelight-color: #f4f0eb;

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato/Lato-Bold.woff") format("woff"),
    url("../fonts/Lato/Lato-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato/Lato-Regular.woff") format("woff"),
    url("../fonts/Lato/Lato-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Tasadith-Bold";
  src: url("../fonts/Thasadith/Thasadith-Bold.woff") format("woff"),
    url("../fonts/Thasadith/Thasadith-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Tasadith-Regular";
  src: url("../fonts/Thasadith/Thasadith-Regular.woff") format("woff"),
    url("../fonts/Thasadith/Thasadith-Regular.woff2") format("woff2");
}

body {
  background-color: $whitelight-color;
}
// HEADER //

.Header {
  background: $Primary-color;
  font-family: "Tasadith-Bold";
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 92px;
  left: 0;
  top: 0;
  display: flex;
  margin: auto;
  z-index: 1;
}

.LogoTitle {
  display: flex;
  align-items: center;

  .TitleIris {
    font-size: 36px;
    color: #25282d;

    .LogoIris {
      width: 40%;
    }
  }
}

.HeaderList {
  text-decoration: none;
  display: flex;
  margin: 50px 0 auto 50px;
  flex-direction: row;
  list-style-type: none;
}

.HeaderLink {
  text-decoration: none;
  color: #25282d;
  margin-right: 50px;
}

.title {
  font-family: "Tasadith-Bold";
  font-size: 28px;
  display: flex;
  margin: 20% auto 0 auto;
  width: auto;
  justify-content: center;
  color: $Second-color;
}

.rectangle {
  position: relative;
}

.polygon {
  width: 100%;
  height: 60%;
}

.square {
  position: absolute;
  width: 26%;
  height: 60%;
  left: 5%;
  top: 20%;
}

.square__middle {
  left: 37.5%;
}

.square__left {
  left: 70%;
}

.shirt {
  position: absolute;
  width: 21%;
  height: 50%;
  left: 8%;
  top: 26%;
}

.shirt__middle {
  left: 41%;
}

.shirt__left {
  left: 73%;
}

.like {
  position: absolute;
  top: 23%;
  left: 26%;
  width: 4%;
  height: 8%;
}


.like__middle {
  left: 91%;
}

.like__left {
  left: 58.5%;
}

.price {
  position: absolute;
  top: 81%;
  left: 26.5%;
  color: $Primary-color;
  font-size: 24px;
  font-family: "Lato-Regular";
}

.price__middle {
  left: 59%;
}

.price__left {
  left: 91.5%;
}

.name {
  position: absolute;
  top: 81%;
  left: 5%;
  color: $Primary-color;
  font-size: 24px;
  font-family: "Lato-Regular";
}

.name__left {
  left: 70%;
}

.name__middle {
  left: 37.5%;
}

@media (max-width: 768px) {
  .price {
    font-size: 14px;
  }
  .name {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .price {
    font-size: 10px;
  }
  .name {
    font-size: 10px;
  }
}

.Footer {
  font-family: "Tasadith-Bold";
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: $Second-color;
  color: $Primary-color;
  margin-top: 9%;
}

.FooterAnnexes {
  display: flex;

  .Annexes {
    text-decoration: none;
    color: $Primary-color;
    margin: auto 30px;
  }
}

.LogosRS {
  display: flex;
  justify-content: space-evenly;
  width: 12%;
}
